.main {
    width: 90%;
    margin: 0 auto;
    .heading-2 {
        font-size: 30px; //font-family: $heading-font;
        margin-bottom: 30px;
        padding-left: 50px;
    }
    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 50px;
        &__image-wrapper {
            margin-bottom: 20px;
            position: relative;
            &:hover {
                &::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    margin-left: -25px;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 9999;
                    background-image: url(../img/1.svg);
                }
                .gallery__image {
                    -webkit-filter: grayscale(1) brightness(.3);
                    filter: grayscale(1) brightness(.3);
                    position: relative;
                }
            }
        }
    }
}
.main {
    width: 90%;
    margin: 0 auto;
    .heading-2 {
        font-size: 30px; //font-family: $heading-font;
        margin-bottom: 30px;
        padding-left: 50px;
    }
    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 90%;
        margin-left: 50px;
        &__image-wrapper {
            margin-bottom: 20px;
            position: relative;
            &:hover {
                &::after {
                    content: '';
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin-top: -25px;
                    margin-left: -25px;
                    background-size: contain;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 9999;
                    background-image: url(../img/1.svg);
                }
                .gallery__image {
                    -webkit-filter: grayscale(1) brightness(.3);
                    filter: grayscale(1) brightness(.3);
                    position: relative;
                }
            }
        }
    }
}
