@font-face {
    font-family: PathwayGothicOne-Regular;
    src: url(../fonts/PathwayGothicOne-Regular.ttf);
}
//palette
$color1: #000;
$color2: #323;
$color3: #900000;
$color4: #fff;
$color5: #30455b;
// fonts
$standart-font: PathwayGothicOne-Regular, Arial, sans-serif;
//$heading-font: 'Times new roman'


