.sidebar {
  height: 100px;
  background-color: yellow;
}

.content {
  height: 100px;
  background-color: green;
}
.redison {
  height: 100px;
  background-color: yellow;
}
[class*="col-"] { padding:0; }